{% extends 'layout.html.twig' %}

{% block title %}{{ 'Terms'|trans }}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div class="terms">
        {{ terms_render() }}
    </div>

    {{ form(form) }}
{% endblock %}
