default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\BrowserContext
                - Behatch\Context\DebugContext:
                    screenshotDir: "screenshots"
                - App\Tests\Behat\AppContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
        Behatch\Extension: ~
        Behat\MinkExtension:
            show_cmd: 'open %s'
            # base_url: 'http://datatidy.local.computer/'
            base_url: 'http://nginx:80/'
            goutte: ~
            browser_name: 'chrome'

            javascript_session: chrome

            sessions:
                symfony:
                    symfony: ~

                chrome:
                    selenium2:
                        wd_host: 'http://chrome:4444/wd/hub'
                        browser: chrome
                        capabilities:
                            # browserName: chrome
                            browser: chrome
                            version: "*"
                            # marionette: true
                            # @see https://medium.com/@alex.designworks/chromedriver-75-enforces-w3c-standard-breaking-behat-tests-460cad435545
                            extra_capabilities:
                                chromeOptions:
                                    w3c: false
                                    # args:
                                    #     # - '--headless'
                                    #     - '--disable-gpu'
                                    #     - '--start-maximized'
                            # chrome:
                            #     switches:
                            #         # - "start-fullscreen"
                            #         - "start-maximized"
                            #         # - "no-sandbox"
