{% extends 'data_source/layout.html.twig' %}
{% trans_default_domain 'data_source' %}

{% block title %}{{ 'Data library'|trans }}{% endblock %}

{% block header %}{{ 'Data library'|trans }}{% endblock %}

{% block toolbar %}
    <div class="btn-group" role="group">
        <a href="{{ path('data_source_new') }}" class="btn btn-success">{{ 'Add data source'|trans }}</a>
    </div>
{% endblock %}

{% block content %}
    {% include 'data_source/_table.html.twig' with {'data_sources': data_sources} %}
{% endblock %}
