{% extends "base.html.twig" %}
{% trans_default_domain 'data_flow_transforms' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('data_flow_transforms') }}
{% endblock %}

{% block body %}
    <div class="container-fluid ">
        {% include '_flash_messages.html.twig' %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('data_flow_transforms') }}
{% endblock %}
