<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
          <form action="{{ url('search_index') }}">
              <div class="form-row align-items-center">
                  <div class="col-10">
                    <input class="form-control" name="query" id="search-input" type="text" placeholder="{{ 'Flow or source'|trans }}" aria-label="{{ 'Flow or source'|trans }}" required>
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-primary">{{ 'Search' }}</button>
                  </div>
              </div>
          </form>
      </div>

    </div>
  </div>
</div>
