<div class="table-responsive-md bg-white rounded-lg shadow-sm">
    <table class="table {{ hover|default('table-hover') }}">
        <thead>
            {% block thead %}{% endblock %}
        </thead>
        <tbody>
            {% block tbody %}{% endblock %}
        </tbody>
    </table>
</div>
