{% extends 'layout.html.twig' %}
{% trans_default_domain 'user' %}

{% block title 'New user'|trans %}

{% block header 'Add user'|trans %}

{% block toolbar %}
    <a class="btn btn-secondary btn-sm" href="{{ path('user_index') }}">{{ 'Back to list'|trans }}</a>
{% endblock %}

{% block content %}
    <div class="bg-white p-3 shadow-sm">
        {{ include('user/_form.html.twig') }}
    </div>
{% endblock %}
