@import "~select2/src/scss/core.scss";

label.required {
    &::after {
        color: $danger;
        content: "•"; // \u2022 (bullet)
    }
}

.recipe-header {
    height: 60px;
}
.recipe-main {
    height: calc(100vh - 60px); // viewport - header
    .preview {
        border-color: $white;
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-bottom-width: $spacer*1;
        border-left-width: 0;
        @include media-breakpoint-up(md) {
            border-color: $white;
            border-style: solid;
            border-top-width: 0;
            border-right-width: $spacer*1;
            border-bottom-width: 0;
            border-left-width: 0;
        }
        &-content {
            max-height: calc(100vh - 60px - 26px); // viewport - header - edit transform view
            overflow: auto;
            .transform-edit & {
                max-height: calc(100vh - 60px - 64px - 50vh); // viewport - header - content-preview-header - edit transform view
            }
        }
    }
    .transform-edit & {
        height: calc(100vh - 60px - 50vh); // viewport - header - edit transform view
    }
}
.transform-step {
    height: calc(50vh);
    overflow: auto;
}
