@import "~select2/src/scss/core.scss";

iframe {
    width: 100%;
    height: 800px;
    border: none;
}

label.required {
    &::after {
        color: $danger;
        content: "•"; // \u2022 (bullet)
    }
}

.form-inline {
    display: inline-block;
}

// .column-string-map-item + .column-string-map-item label {
//     display: none;
// }
